  /* sembunyikan gambar thumbnail */
  #imageThumb {
    display: none;
}
  .hidden-thumbnail {
      display: none;
}
  
  /* hiddentxt untuk deskripsi */
.hiddentxt {
	display: none;
}
  
    /* Gaya untuk overlay gambar */
    .image-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .image-overlay img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

/* Style ini dipakai pada tab1 */
.tab__content:nth-of-type(1) figure {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.tab__content:nth-of-type(1) figure img {
    max-width: 100%;
    height: auto;
}

/* Style ini dipakai pada tab2 */
    p {
        margin-bottom: 1em; /* Jarak antar paragraf */
    }
    li {
        margin-bottom: 1.5em; /* Jarak antar item daftar */
    }
	
  @media (max-width: 768px) {
    .baris1, .baris2 {
        display: block;
    }
}
  
/* Style ini dipakai pada tab3 */
  
.judulvideo {
  text-align: center;
}
  
  .video-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 20px; /* Menambahkan spasi di bawah video */
    }
  
  .videoiframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.judulaudio {
  text-align: center;
}
  
  .audio-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 20px; /* Menambahkan spasi di bawah audio */
    }
  
  .audioiframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
  /* Style ini dipakai pada tab4 */
  
  #download-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: none;
  }

  #download-section h2 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
  }

.unduh-description {
	text-align: center;
}

.download-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.download-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

@media (max-width: 768px) {
    .download-row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .download-item {
        width: 100%;
        max-width: 200px;
    }
}

  .download-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

  .download-item img {
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .download-label {
    font-size: 0.9em;
	font-weight: bold;
    color: #333;
  }

.unduh-preview {
  width: 200px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.unduh-preview picture,
.unduh-preview img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
  transition: transform 0.3s ease;
}

.unduh-preview:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

  .unduh-preview picture {
    max-width: 100%;
    display: block;
  }
  
  /* Hak Cipta */
  .hakcipta {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
  
/* Style ini dipakai pada tab5 */
  
  .pengantarpostingan {
  text-align: justify;
  }
  
/* Style CSS untuk Infobox */
    .infobox-container {
        justify-content: center;
        margin: 20px auto;
        width: 100%;
    }
    .infobox {
        border: 1px solid #a2a9b1;
        border-collapse: collapse;
        width: 100%;
        max-width: 600px; /* Diperbesar dari 400px menjadi 600px */
        font-size: 14px;
        margin: 0 auto;
    }
    .infobox th {
        background-color: #f8f9fa;
        font-weight: bold;
        text-align: left;
        padding: 8px;
        border: 1px solid #a2a9b1;
        width: 35%; /* Sedikit disesuaikan */
    }
    .infobox td {
        padding: 8px;
        border: 1px solid #a2a9b1;
        width: 65%; /* Disesuaikan */
    }
    .category {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center !important; /* Pastikan ini ada */
    padding: 8px;
    border: 1px solid #a2a9b1;
    grid-column: 1 / -1;
}
    @media (max-width: 768px) {
        .infobox {
            max-width: 95%; /* Lebih responsif di layar kecil */
            font-size: 13px;
        }
        .infobox th, .infobox td {
            padding: 6px;
        }
    }

/* Semua di bawah ini ada CSS untuk Tab */
  .tab-wrap {
  -webkit-transition: 0.3s box-shadow ease;
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    z-index: 0;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab-wrap:hover { box-shadow: 0 10px 10px rgba(0, 0, 0, 0.23), 0 5px 5px rgba(0, 0, 0, 0.19); }

.tab { display: none; }

.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: relative;
  width: 100%;
  /* z-index: -1; */
  display: none;
  left: 0;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  border-radius: 6px;
}
  
  .tab:checked ~ .tab__content {
  display: none; /* Sembunyikan semua tab content terlebih dahulu */
}
  
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2),
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3),
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4),
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  display: block; /* Tampilkan hanya tab content yang sesuai */
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
  transition: 0.5s opacity ease-in, 0.2s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
  

.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label { border-radius: 0; }

.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}

.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}

.tab + label {
  width: 100%;
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
@media (min-width:768px) {

.tab + label { width: auto; }
}

.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
  
  /* Tambahkan kode baru di sini */
  .tab-wrap {
    flex-direction: row; /* Tetap horizontal */
  }

  /* Responsif - Hanya berlaku di layar kecil */
  @media (max-width: 768px) {
    .tab-wrap {
      margin: 0; /* Menghilangkan margin pada layar kecil */
      padding: 0; /* Opsional, jika ingin menghilangkan padding juga */
      flex-direction: row; /* Pastikan tetap horizontal pada layar kecil */
      border-radius: 0;    /* Baru: hilangkan lengkungan */
      box-shadow: none;    /* Baru: hilangkan bayangan */
    }
    .tab-wrap:hover {
    box-shadow: none;
}
    .tab + label {
        width: auto;
        font-size: 13px;
  		padding: 10px;
  		height: auto;
   		white-space: normal;
    	word-wrap: break-word;
  		border-radius: 0;   /* Baru: hilangkan lengkungan label */
    	box-shadow: none;   /* Baru: hilangkan bayangan label */
  }
  
}
  /* -----------------------------
   Tambahan Style Kebutuhan Tab1
   ----------------------------- */
  .tab-wrap {
  margin: 0px 0;
}
  
.tab__content:nth-of-type(1) {
    text-align: center;
    padding: 0px 0px;
	overflow: hidden;
	display: flex; /* mungkin tidak perlu */
    flex-direction: column;
    align-items: center;
}
.tab__content:nth-of-type(1) figure img {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
.tab__content:nth-of-type(1) figure {
    width: 100%;
    margin: 0 auto;
  }

.tab__content:nth-of-type(1) figure img {
    box-shadow: none;
  }
}

  /* Endnote */
  .endnote {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
  
    /* Styling untuk form komentar */
  #disqus_thread {
    margin-top: 30px;
  }

  .disqus-comment-body {
    font-size: 100px;
  }
  
  /* Styling untuk Commento */
  .commento {
  font-size: 1px;
  }
  
    /* -----------------------------
              Custom Header
   ----------------------------- */
.customheader {
  width: 100%;
  height: 100%;
  max-width: 200px;
  margin: 0;
  background-color: transparent;
}

.customheader img {
  width: auto;
  height: 80%;
}
